body {
  font-family: IRANSans;
  direction: rtl;
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */
    url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
    url("../fonts/woff/IRANSansWeb_Bold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb.eot");
  src: url("../fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */
    url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
    url("../fonts/woff/IRANSansWeb.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("../fonts/ttf/IRANSansWeb.ttf") format("truetype");
}

.registerback {
  background: url("../images/paper.jpg");
  height: 95vh;

  background-size: cover;
  background-position: center;
  position: relative;
}

.registerborder {

  position: absolute;

  top: 11rem;
  left: 21rem;
  height: 70%;
  width: 70%;
  border-radius: 1rem;
  box-shadow: 0.7rem 0.7rem 2.5rem 0 rgba(0, 0, 0, 0.1);
}

.register1 {
  border-radius: 0 1rem 1rem 0;
  float: right;
  width: 50%;
  height: 100%;
  background:var(--light-gray);
}
}

.register1 form {
  margin: 1rem 2rem 0 0;
}

.register1 input {
  width: 40%;
  padding: 0.4rem;
  border: none;
  margin: 1rem 2rem 1rem 0;
}

.register1 input:active {
  border: none;
}

.register1 button {
  cursor: pointer;
  border: none;
  padding: 0.4rem 1rem;
  margin: 1rem 2rem 0 0;
  font-weight: bold;
  font-size: 1.6rem;
  color: #3c3d3d;
}

.register1 button:hover {
  background-color: var(--light-gray);
}



.register1 select{
  width: 35%;
  border: none;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  margin-right: 2rem;
}

.register1 h4{
  font-size: 1.6rem;
  font-weight: bold;
  margin: 6rem 2rem 3rem 0;
  color: var(--color-primary);
}
.register2, .register3 {
  border-radius: 1rem 0 0 1rem;
  float: left;
  width: 50%;
  height: 100%;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}

.register2 {
  background: url("../images/back1.jpg");
  background-size: cover;
}

.register3 {
  background: url("../images/back4.jpg");
}

.registerform {
  display: block;
}

.register1 h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 3rem 2rem 3rem 0;
  color: var(--color-primary);
}

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor:  ointer;
  transition: 0.3s;
  font-weight: bold;
  color: #3c3d3d;
}

.tab1 button {
  padding: 1rem 1.6rem;
  font-size: 1.8rem;
}

.tab2 button {
  padding: 1rem 0.5rem;
  font-size: 1.8rem;
}

.tab button:hover {
  background-color: var(--light-gray);
}

.tab button.active {
background-color: var(--dark-gray);
color:var(--color-primary);
}

.tabcontent {
  display: none;
  padding: 0.5rem 1.2rem;
  border-top: none;
}

.tabcontent p {
  font-size: 1.5rem;
  margin:1rem 2rem 1rem 0;
  color:var(--dark-gray);
}
.registerform lable{
    color:var(--dark-gray);
}
.tabcontent lable {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.register1 input[type=submit] {
  font-size: 1.5rem;
margin: 4rem 2rem 1rem 0;
 width: 20%;
}

.register1 input[type=submit]:hover {
  background-color: var(--light-gray);

}
